.home-container {
    background-color: #437C90;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h3 {
    margin: 0;
    padding: 2rem;
    color: #E2EFDE;
}